.menu
{
    display: flex;
    gap: 4em;
    background-color: beige;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80em;

}
body 
{
    background-color: black;
}
img
{
    background-color: beige;
    height: fit-content;
    width: 80em;
}
.logo
{
    color:beige;
     letter-spacing: 5px;
    margin-left: 80px;
    font-weight: 100;
    font-size: 18px;

}
/*#box
{
    padding:30px;
    width:300px;
    position: relative;
    height: 200px;
    margin: 100px;
    color: black;
    font-size: 25px;
    padding-right: 18em;
   padding-top: 10em;
    padding-bottom: 10em;
    margin-left: 30em;
    margin-top: 10em;
    background-color: beige;
    border-radius: 3em;
    margin-left: 10em;
    margin-top: 5em;

}
#next
{
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom:10px ;
    background-color: rgb(91, 69, 91);
    color: #ffffff;
    margin-right: 15em;
    margin-top: 80px;
     cursor: pointer;
     margin-left: 12em;
     padding-left: 18px;
     padding-right: 18px;
     font-size: 15px;
}*/
.option
{
    margin-left: 80px;
}
/*#save
{
    /* border-radius: 5px;
    padding-top: 1em;
    padding-bottom:1em ;
    background-color: rgb(91, 69, 91);
    color: #ffffff;
    margin-right: 15em;
     cursor: pointer;
     margin-left: 30em;
     padding-left: 2em;
     padding-right: 2em;
    /* margin-bottom:10em;
    margin-top: -70em; 

    border-radius: 5px;
    padding-top: 10px;
    padding-bottom:10px ;
    background-color: rgb(91, 69, 91);
    color: #ffffff;
    margin-right: 15em;
    margin-top: 80px;
     cursor: pointer;
     margin-left: 30em;
     padding-left: 18px;
     padding-right: 18px;
     font-size: 15px;
     margin-bottom: 35em;
    
}*/ 

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
#next, #save {
    border-radius: 5px;
    padding: 10px 18px;
    background-color: rgb(91, 69, 91);
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 50px;
}
#box {
    padding: 40px;
    width: 500px;
    position: relative;
    height: auto;
    margin: 5em auto;
    color: black;
    font-size: 20px;
    background-color: beige;
    border-radius: 2em;
    margin-top: 8em;
}